body{
    background-image: linear-gradient(red, yellow);
    font-family: fantasy;
}
h1{

    text-align: center;
    color:rgb(255, 255, 255);
}
.test{
    width: 50%;
    margin-top: 20%;
    background-color: blueviolet;
}
.rouge{
    position: relative;
    animation: move 1s infinite;
    width: 80%;
    background-color: red;
}
button {
    border-radius: 100%;
    position: relative;
    animation: move 2s infinite, rotate 2s infinite ;
  }
  
  @keyframes move {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(100px);
    }
  }
  
  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }