body{
    font-family:'Sofia';
    width: 100%;
    background-image: url(https://i.pinimg.com/originals/09/6a/35/096a35453660aa9b83ba4ab6d9182d61.jpg);
}
.devine{
    color: aliceblue;
    margin-top: 20%;
    text-align: center;
}
p{
    font-size: 40px;
color: rgb(254, 254, 254);

}
h1{
    font-size: 100px;
    color: rgb(255, 255, 255);
}
.a{
    background-color: rgb(32, 133, 29);
}
.hidden{
    visibility:  hidden;
}